.add-players {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(81, 233, 106);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.form-container, .player-list-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.add-player-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-player-button:hover {
    background-color: #218838;
}

.player-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player-list-container li {
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 5px;
    border-radius: 4px;
}

.player-list-container li:nth-child(even) {
    background-color: #f2f2f2;
}

.start-game-button {
    text-align: center;
    margin-top: 20px;
}

.start-game-button button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.start-game-button button:hover {
    background-color: #218838;
}
