@(players: List[String])(implicit flash: play.api.mvc.Flash)

@main("Kniffel - Spieler hinzufügen") {
  <div class="add-players">
    <div>
    <h1>Spieler hinzufügen</h1>
    </div>
    <div>
    @flash.get("error").map { errorMessage =>
      <div class="alert alert-danger">
        @errorMessage
      </div>
    }

    <!-- Spieler hinzufügen Formular -->
    <form action="@routes.KniffelController.addPlayer" method="post">
        <label for="playerName">Spieler Name:</label>
        <input type="text" id="playerName" name="playerName" required>
        <button type="submit">Spieler hinzufügen</button>
    </form>
</div>  
<div>
    <h2>Aktuelle Spieler:</h2>
    <ul>
        @for(player <- players) {
            <li>@player</li>
        }
    </ul>
</div>
<div>
    <form action="@routes.KniffelController.startGame" method="post">
        <button type="submit">Spiel Starten</button>
    </form>
</div>
</div>
}
