@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/navbar.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/gameField.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/about.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/addPlayer.css")">
    </head>

    <body>
        <!-- Navigation bar -->
        <nav>
            <a href="@routes.KniffelController.showAddPlayers">Add Player</a>
            <a href="@routes.KniffelController.showGameField">Game</a>
            <a href="@routes.KniffelController.about">About</a>
        </nav>

        <!-- Page content -->
        @* Here we render the page content *@
        @content
    </body>
</html>